<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      h1 {
        color: #333;
      }
      h2 {
        color: #666;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      .section {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div style="margin-bottom: 20px">
      <img src="{{logoUrl}}" alt="Logo" style="width: 100px; height: auto" />
      <h2>{{companyName}}</h2>
    </div>
    <p>{{summary}}</p>

    <div class="section">
      <h2>Skills</h2>
      <ul>
        {{#each skills}}
        <li>{{name}} - {{efficiency}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="section">
      <h2>Hobbies</h2>
      <ul>
        {{#each hobbies}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="section">
      <h2>Experience</h2>
      {{#each experience}}
      <p><strong>{{position}}</strong> at {{company}}</p>
      <p>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</p>
      <p>{{description}}</p>
      {{/each}}
    </div>

    <div class="section">
      <h2>Projects</h2>
      {{#each projects}}
      <p><strong>{{name}}</strong></p>
      <p>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</p>
      <p>{{description}}</p>
      {{#if url}}
      <p><a href="{{url}}">{{url}}</a></p>
      {{/if}} {{/each}}
    </div>

    <div class="section">
      <h2>Education</h2>
      {{#each educations}}
      <p><strong>{{degree}}</strong> in {{field}}, {{institution}}</p>
      <p>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</p>
      {{#if grade}}
      <p>Grade: {{grade}}</p>
      {{/if}} {{/each}}
    </div>

    <div class="section">
      <h2>Certificates</h2>
      {{#each certificates}}
      <p><strong>{{name}}</strong> by {{issuer}}</p>
      <p>
        Issued: {{issueDate}}{{#if expirationDate}} - Expires:
        {{expirationDate}}{{/if}}
      </p>
      {{#if url}}
      <p><a href="{{url}}">{{url}}</a></p>
      {{/if}} {{/each}}
    </div>

    <div class="section">
      <h2>Languages</h2>
      <ul>
        {{#each languages}}
        <li>{{name}} - {{efficiency}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="section">
      <h2>Socials</h2>
      <ul>
        {{#each socials}}
        <li>{{name}}: <a href="{{url}}">{{url}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="section">
      <h2>Courses</h2>
      {{#each courses}}
      <p><strong>{{name}}</strong></p>
      <p>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</p>
      <p><a href="{{url}}">{{url}}</a></p>
      {{/each}}
    </div>
  </body>
</html>
